<body>
    <h1 type="text-dark" class="mx-auto text-center mt-2">LA SELECTION DE CINECH'NORD</h1>
    <div  class="container">
        
        <div class="row">
            
            <div class="col-4" *ngFor="let serie of series; let i = index" [serie]="serie">
                <div class="card mb-5 mt-5 bg-dark" style="width: 18rem;">
                    <img class="card-img-top" src="{{serie.poster}}" alt="Poster serie">
                    <div class="card-body">
                        <h5 class="card-title text-light">{{serie.titre}}</h5>
                        <details>
                            <summary class="text-light">Synopsis</summary>
                            <p class="card-text text-light">{{serie.synopsis}}</p>
                        </details>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark text-light"><b>Réalisteur : </b>{{serie.realisateur}}</li>
                        <li class="list-group-item bg-dark text-light"><b>Date de sortie : </b>{{serie.realisation}}</li>
                        <li class="list-group-item bg-dark text-light"><b>Durée : </b>{{serie.duree}} minutes</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{serie.trailer}}" target = "_blank" class="card-link text-light">
                            <button type="button" class="btn btn-outline-warning btn-lg btn-block">Bande Annonce</button>
                        </a>
                        <a [routerLink]="['/savoirPlusSerie', i]" class="card-link text-light">
                            <button type="button" class="btn btn-outline-warning btn-lg btn-block">En savoir + </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
