<body>
        <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-6">
                <img class="card-img-top" src="{{serie.poster}}" alt="Poster serie">
            </div> 
            <div class="col-6 border border-dark">
                <div class="row infos">
                    <div class="col-12">
                        <h2 class="text-dark text-center">Titre: {{serie.titre}}</h2>
                    </div>
                    <div class="col-12">
                        <p class="text-dark text-center">{{serie.synopsis}}</p>
                    </div>
                    <div class="col-12">
                        <p class="text-dark text-center"><b>Réalisteur : </b>{{serie.realisateur}}</p>
                        <p class="text-dark text-center"><b>Date de sortie : </b>{{serie.realisation}}</p>
                        <p class="text-dark text-center"><b>Durée : </b>{{serie.duree}} minutes</p>
                    </div>
                </div>
            </div>   
        </div>        
    </div>
</body>
